include ../partials/header.pug
h1 Qui prend quoi ?

h2 Créer un événement
form(method="post" action="/party")
  div
    label(for="name") Nom de l'événement
    input(name="name" id="name" required minlength="3" placeholder="Nouvel an")
  div 
    label(for="author") Auteur
    input(name="author" id="author" required minlength="3" placeholder="Auteur")
  div
    label(for="date") Date
    input(name="date" id="date" type="date" value="2020-03-16")

  button(type="submit") Créer